@{
    ViewBag.Title = "Gradebook";
}

<div class="jumbotron">
    <h1>GRADEBOOK Application 2.0</h1>
    <p class="lead">The GRADEBOOK Application stores students, assignments, and student grades.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Students</h2>
        <p>View, Add, Edit, and Delete Student Information.</p>
        <p><a class="btn btn-default" href="../Students/Index">Go to Students Page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Assignments</h2>
        <p>View, Add, Edit, and Delete Assignment Information.</p>
        <p><a class="btn btn-default" href="../Assignments/Index">Go to Assignments Page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Grades</h2>
        <p>View, Add, Edit, and Delete Grade Information.</p>
        <p><a class="btn btn-default" href="../Grades/Index">Go to Grades Page &raquo;</a></p>
    </div>
</div>