@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CAR USAGE DATABASE</h1>
    <p class="lead">This database saves car information, driver information, and tracks the drivers who are approved to drive each car.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>DRIVERS</h2>
        <p>View, add, edit and delete drivers.</p>
        <p><a class="btn btn-default" href="../Drivers/Index">Go to drivers page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CARS</h2>
        <p>View, add, edit and delete cars.</p>
        <p><a class="btn btn-default" href="../Cars/Index">Go to cars page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CAR USAGE</h2>
        <p>View, add, edit, and delete the drivers approved to drive a car.</p>
        <p><a class="btn btn-default" href="../CarUsers/Index">Go to usage page &raquo;</a></p>
    </div>
</div>