@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GradeBook App</h1>
    <p class="lead">The GradeBook App can be used to store student information, assignment information, and student grades.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("STUDENTS", "Index", "Students")</h2>
        <p>
            Add, view, edit, and delete student information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("ASSIGNMENTS", "Index", "Assignments")</h2>
        <p>
            Add, view, edit, and delete assignment information.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("GRADES", "Index", "StudentAssignmentGrades")</h2>
        <p>
            Add, view, edit, and delete student grade information.
        </p>
    </div>
</div>